// Extra small screen / phone
//** Deprecated `@screen-xs` as of v3.0.1
@screen-xs:                  480px;
//** Deprecated `@screen-xs-min` as of v3.2.0
@screen-xs-min:              @screen-xs;
//** Deprecated `@screen-phone` as of v3.0.1
@screen-phone:               @screen-xs-min;

// Small screen / tablet
//** Deprecated `@screen-sm` as of v3.0.1
@screen-sm:                  768px;
@screen-sm-min:              @screen-sm;
//** Deprecated `@screen-tablet` as of v3.0.1
@screen-tablet:              @screen-sm-min;

// Medium screen / desktop
//** Deprecated `@screen-md` as of v3.0.1
@screen-md:                  992px;
@screen-md-min:              @screen-md;
//** Deprecated `@screen-desktop` as of v3.0.1
@screen-desktop:             @screen-md-min;

// Large screen / wide desktop
//** Deprecated `@screen-lg` as of v3.0.1
@screen-lg:                  1200px;
@screen-lg-min:              @screen-lg;
//** Deprecated `@screen-lg-desktop` as of v3.0.1
@screen-lg-desktop:          @screen-lg-min;

// So media queries don't overlap when required, provide a maximum
@screen-xs-max:              (@screen-sm-min - 1);
@screen-sm-max:              (@screen-md-min - 1);
@screen-md-max:              (@screen-lg-min - 1);

@font-primary     : 'Open Sans', sans-serif;

@brand-primary     : #dd013f;
//@brand-primary     : #FE8F84;

@brand-secondary   : #1957ac;
//@brand-secondary   : #3BB778;

@brand-info        : #6fb6df;
@brand-success     : #a9b356;
@brand-warning     : #b0b776;
@brand-danger      : #ed4895;

@weight-light     : 300;
@weight-regular   : 400;
@weight-bold      : 700;

@text-primary     : #3C4650;

@white-color      : #ffffff;
@gray-light       : #858585;
@gray-lighter     : #f5f5f5;
@gray-dark        : #525252;
@gray-medium      : #ebebeb;

@font-size-sm     : 15px;
@font-size        : 18px;
@font-size-lg     : 72px;